<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title>post</title>
</head>
<body>
<form action = "result" method = "post">
商品番号を入力してください<input name = "item_code">
</input>
<input type = "submit" value = "確定">
</form>
</body>
</html>
